name: run tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.7', 'pypy-3.7']
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    steps:
        - name: checkout
          uses: actions/checkout@v2
        - name: setup python
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}

        - name: Install Rust toolchain
          uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
            profile: minimal
            default: true

        - name: Build wheels - x86_64 - PyPy
          if: startsWith(matrix.python-version, 'pypy')
          uses: messense/maturin-action@v1
          with:
            target: x86_64
            args: --release --out dist --no-sdist --cargo-extra-args="--no-default-features" -m Cargo.toml

        - name: Build wheels - x86_64 - CPython
          if: "!startsWith(matrix.python-version, 'pypy')"
          uses: messense/maturin-action@v1
          with:
            target: x86_64
            args: --release --out dist --no-sdist -m Cargo.toml

        - name: Build wheels - universal2
          if: startsWith(matrix.os, 'macos')
          uses: messense/maturin-action@v1
          with:
            args: --release --universal2 --out dist --no-sdist -m Cargo.toml

        - name: Install dependencies for tox
          run: |
            python -m pip install --upgrade pip
            pip install tox tox-gh-actions

        - name: Test with tox
          run: tox

        - name: Upload wheels
          uses: actions/upload-artifact@v2
          with:
            name: wheels
            path: dist
